<!DOCTYPE html>
<html ng-app="xpa">
<head lang="en">
    <meta charset="UTF-8">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"></link>
    <title></title>
</head>
<body>

<div ng-controller="HomeController as homeCtrl">
        <!--<div xpa-image-crop image-position="homeCtrl.imagePosition">
            <img ng-src="{{homeCtrl.image}}">
        </div>-->
    <div xpa-image-crop-container>
        <xpa-image-crop image-position="homeCtrl.imagePosition">
            <img ng-src="{{homeCtrl.image}}">
        </xpa-image-crop>
        <button ng-click="imageCropContainerCtrl.crop()">Crop</button>
        <button ng-click="imageCropContainerCtrl.edit()">Edit</button>
    </div>


    <!--<div style="float: right;">
        <button ng-click="homeCtrl.CropImage()">Crop</button>
        <label>x:{{homeCtrl.imagePosition.x}} / y:{{homeCtrl.imagePosition.y}}</label>
    </div>-->
</div>

<!--<div class="crop-container">
    <div xpa-draggable drag="true" class="crop-overlay">
        <img class="crop-img" src="http://lorempixel.com/720/520/">
    </div>
</div>-->

<script src="assets/js/lib/angular.min.js"></script>
<script src="assets/js/app/person.js"></script>

<script src="assets/js/app/xpa.js"></script>

<script src="assets/js/app/directives/xpaGraggable.js"></script>
<script src="assets/js/app/directives/xpaImageCrop.js"></script>
<script src="assets/js/app/directives/xpaImageCropContainer.js"></script>

<script src="assets/js/app/services/ImageCrop.js"></script>

<script src="assets/js/app/controllers/HomeController.js"></script>
</body>
</html>