
/*===========================================*/
.dragging{
    cursor: move;
    position: relative;
}
/*===========================================*/
.crop-container {
    display: inline-block;
    z-index: 1001;
    position: absolute;
    overflow: hidden;
    background: url('../img/background.png'), repeat;
    width: 320px;
    height: 320px;
}

.crop-img {
    position: absolute;
    z-index: 1000;
}

.crop-overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: .75;
    filter: alpha(opacity=7);
    -webkit-box-shadow: inset 0 0 0 40px white;
    box-shadow: inset 0 0 0 40px white;
}
